<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-sunmi"
        version="1.0.7">
  <name>SunmiPrinter</name>
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  <asset src="www/sunmiprinter.js" target="js/sunmiprinter.js"/>
  <js-module src="www/sunmiprinter.js" name="sunmiprinter">
    <clobbers target="sunmiprinter" />
  </js-module>
  <platform name="android">
	<framework src="com.sunmi:printerlibrary:1.0.7" />
	<config-file target="res/xml/config.xml" parent="/*">
	      <feature name="SunmiPrinter">
		        <param name="android-package" value="com.openmove.sunmi.SunMiPrinter"/>
	      </feature>
	    </config-file>
	 <source-file src="src/android/SunMiPrinter.java" target-dir="src/com/openmove/sunmi/" />
     <source-file src="src/android/SunmiHelper.java" target-dir="src/com/openmove/sunmi/" />
     <source-file src="src/android/CallBack.java" target-dir="src/com/openmove/sunmi/" />
     <source-file src="src/android/BitmapHelper.java" target-dir="src/com/openmove/sunmi/" />
     <source-file src="src/android/BytesUtil.java" target-dir="src/com/openmove/sunmi/" />
     <source-file src="src/android/ESCUtil.java" target-dir="src/com/openmove/sunmi/" />
  </platform>
</plugin>
